.map-section{
    background-color: $bg-even;

 }
 .di{
     width: 5px;
     height: 5px;
     color: red;
 }
 .contact-hero{
     background-color: rgb(117, 117, 197);
     padding: 25px;
     color: white;
     li{
         padding: 5px;
         a{
             color: white;
              text-transform: uppercase;
         }
     }
     
 }
 .title-heading{
     text-transform: uppercase;
 }

 .contact-form{
    background-color: $bg-odd;

 }