.contact-page {
	.contact-main-title-bg {
		background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
			url(../images/contact-bg.jpg);
	}
	.map-section {
		background-color: $bg-even;
		position: relative;
		flex-grow: 1;
	}

	main {
		position: relative;
	}

	.contact-hero {
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0.5)
			),
			url("/assets/images/bg2.jpg");
		background-size: contain;
		background-attachment: fixed;
		padding: 4rem;
		color: white;

		h1 {
			padding-left: 1.5rem;
			text-transform: uppercase;
			letter-spacing: 0.7rem;
		}

		li {
			padding-left: 2rem;

			a {
				color: white;
				text-transform: uppercase;
				letter-spacing: 0.4rem;
			}
		}
	}

	.title-heading {
		text-transform: uppercase;
	}

	.contact-form {
		background-color: $bg-odd;
	}

	.address-wrap {
		display: flex;
	}

	.country-card {
		background: #cec4ac url(../images/About/floral-bg-parallax.png);
		background-repeat: repeat;
		background-position: right;
		background-size: contain;
		width: 420px;
		padding: 45px;
		color: $text-color;
		position: absolute;
		top: 55px;
		left: 12%;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);

		h3 {
			text-transform: uppercase;
			background-color: transparent;
			color: black;
			letter-spacing: 0.5rem;
			margin-bottom: 30px;
		}

		ul {
			li {
				padding: 10px;
			}

			i {
				background-color: transparent;
				color: black;
				display: inline-block;
				font-size: 1.5rem;
				margin-right: 5rem;
			}
		}
	}

	@media only screen and (max-width: 900px) {
		.address-wrap {
			flex-direction: column;
		}

		.country-card {
			order: -1;
			position: static;
			width: 100%;
		}
	}
}
