@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&family=PT+Serif:wght@400;700&family=Rosario:wght@400;500;600;700&family=Satisfy&display=swap');


$bg-header: #7e8446;
$bg-odd: #f5f0e3;
$bg-even: #f2e9d2;
$bg-footer: #d4ad76;
$text-color: #484334;
$hover-color: #ffda6b;
$body-font: 'Rosario', sans-serif;
$nav-font: 'Overlock', cursive;
$heading-font: 'PT Serif', serif; 
$ctc-heading: 'Satisfy', cursive;
